<app-cards></app-cards>
<div class="clear"></div>
<div class="spacer40"></div>
<div class="clear"></div>
<section class="row start alpha omega">
    <app-dashboard-ultimas class="grid_8 alpha"></app-dashboard-ultimas>
    <app-dashboard-autores class="grid_4 omega"></app-dashboard-autores>
</section>
<div class="clear"></div>
<div class="spacer40"></div>
<section class="row start alpha omega">
    <app-dashboard-comentarios class="grid_6 alpha"></app-dashboard-comentarios>
    <app-dashboard-novidades class="grid_6 omega"></app-dashboard-novidades>
</section>
